<a href="https://colab.research.google.com/github/MiguelRR2029/THC_MiguelR/blob/main/Clase_10_10_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
diccionario = {'python': 2.7, 'zope':2.13, 'plone':5.7}

l=[]
for i in diccionario.keys():
  print(i)
  l.append(diccionario[i])

print(l)

python
zope
plone
[2.7, 2.13, 5.7]

In [ ]:
import pandas as pd

#Crear un diccionario con datos
datos = {
    'Nombre': ['Juan', 'Maria', 'Pedro', 'Luisa'],
    'Edad':[25, 28, 22, 30],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

#Crear un DataFrame a partir del diccionario
dataframe = pd.DataFrame(datos)

#Mostrar el DataFrame
print(dataframe)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  Maria    28  Barcelona
2  Pedro    22   Valencia
3  Luisa    30    Sevilla

In [ ]:
frutas=("fresa", "uva", "pera")
for fruta in frutas:
  print(fruta)

fresa
uva
pera

In [ ]:
if"fresa" in frutas:
  print("si, la fresa esta en la tupla")

si, la fresa esta en la tupla

In [ ]:
def mi_funcion():
  print("Hola, te saludo desde la función")

In [ ]:
mi_funcion()

Hola, te saludo desde la función

In [ ]:
def mi_funcion_nueva(fname):
  print("hola "+fname+" te saludo desde la función")
mi_funcion_nueva("Miguel")

hola Miguel te saludo desde la función

In [ ]:
def Nombre(fname,lname):
  print("hola "+fname+" "+lname+ " te saludo desde la función")
Nombre("Miguel", "cc")

hola Miguel cc te saludo desde la función

In [ ]:
def mi_funcion(*kids):
  print("El niño menor es " +kids[2])
mi_funcion("Emil", "Tobias", "Linus", "Andy")

El niño menor es Linus

In [ ]:
def sum_vec(A,B):
  if len(A) ==len(B):
    n=len(A)
    C=n*[0.0] #lista de ceros
    for i in range(n):
        C[i]=A[i]+B[i]
    print(C)
  else:
    print("nose")
sum_vec(A=[23,4,1], B=[34,4,6])

[57, 8, 7]